<!-- Phần bên trái -->
<div th:class="${session.user != null and session.user.role == 'Chủ trọ' ? 'left-column' : 'left-column display-none'}" >
	<!-- Thông tin người dùng -->
	<div class="user-info">
		<div class="user-info2">
			<div class="user-avatar">
				<i class="fa-solid fa-circle-user fa-4x"></i>
			</div>
			<div class="user-details">

				<p class="user-name" th:text="${session.user.fullName}"></p>
				<p class="user-phone" th:text="${session.user.phoneNumber}"></p>
				<p class="user-id">
					Mã thành viên: <span th:text="${session.user.userId}"></span>
				</p>
			</div>
		</div>
		<div class="btn2">
			<button th:onclick="'window.location.href=\'' + @{/recharge} + '\''"
				class="btn-recharge">Nạp tiền</button>
			<button class="btn-post"
				th:onclick="'window.location.href=\'' + @{/dangtin} + '\''">Đăng
				tin</button>
		</div>
		<div class="support-info">
			<p>Nhân viên hỗ trợ của bạn:</p>
			<p>Văn Thuận - 0999999999</p>
		</div>
	</div>

	<!-- Thanh bên (sidebar) -->
	<aside class="sidebar">

		<ul class="menu">
			<li><a href="quanlytin">Quản lý tin đăng</a></li>
			<li><a href="/info">Sửa thông tin cá nhân</a></li>
			<li><a th:href="@{/recharge}">Nạp tiền vào tài khoản</a></li>
			<li><a th:href="@{/recharge4}">Lịch sử nạp tiền</a></li>
			<li><a href="/pay">Lịch sử thanh toán</a></li>
			<li><a href="banggiadichvu">Bảng giá dịch vụ</a></li>
			<li><a href="#">Liên hệ</a></li>
			<li><a href="/logout">Thoát</a></li>
		</ul>
	</aside>


</div>