<!DOCTYPE html>
<html>
<head>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản lý tin</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
 -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/naptien.css">
<link rel="stylesheet" type="text/css" href="/assets/css/quanlytin.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/naptien.css">
<link rel="stylesheet" type="text/css" href="/assets/css/media.css">
<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
<script src="/assets/js/header.js"></script>

<script>

function openModal() {
    document.getElementById("exampleModal").style.display = "flex";
}

function closeModal() {
    document.getElementById("exampleModal").style.display = "none";
}

function loadTime() {
    const goithoigian = document.getElementById("goitime").value;
    const soNgay = document.getElementById("songay");
    soNgay.innerHTML='<option value="">-- Chọn thời gian --</option>'
    if (goithoigian) {
        fetch(`/dataget/${goithoigian}`) // Gửi GET request
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json(); // Parse JSON
            })
            .then(data => {                
                data.forEach(time => {
                    const optionss = document.createElement("option");
                    optionss.value = time.time; // Đặt value là districtId
                    optionss.text = time.time +" "+time.bientime; // Hiển thị tên quận/huyện
                    soNgay.appendChild(optionss);
                });
            })
            .catch(error => console.error("Error:", error));
    } else {
    	soNgay.innerHTML = '<option value="">-- Chọn thời gian --</option>'; // Reset nếu không chọn thành phố
    }
}
</script>

</head>
<body>
	<div th:replace="views/header-footer/header"></div>
	<div class="container">
		<div class="left-column" th:replace="views/header-footer/left_menu"></div>
		<div style="display: flex; flex-direction: column; width: 73%">
			<div style="display: flex; justify-content: center;">
				<h2>Quản lý tin đăng</h2>
			</div>
			<div class="boder"></div>
			<div th:if="${successMessage}" style="color: green; margin-top: 15px">
				<span th:text="${successMessage}"></span>
			</div>
			<div th:if="${errorMessage}" style="color: red; margin-top: 15px">
				<span th:text="${errorMessage}"></span>
			</div>
			<form th:action="@{/quanlytin}" method="get" class="search_form">
				<div>
					<input type="text" placeholder="Tìm theo mã hoặc tiêu đề"
						class="search" name="valuesearch" id="searchtext"
						onchange="this.form.submit()">
				</div>
				<div>
					<select class="search" name="valueloaitin" id="searchloaitin"
						onchange="this.form.submit()">
						<option value="">Lọc theo loại tin</option>
						<option value="0">Tin miễn phí</option>
						<option value="1">Tin thường</option>
						<option value="2">Tin VIP 3</option>
						<option value="3">Tin VIP 2</option>
						<option value="4">Tin VIP 1</option>
						<option value="5">Tin VIP nổi bật</option>
					</select>
				</div>
				<div>
					<select class="search" name="valuetrangthai" id="searchtrangthai"
						onchange="this.form.submit()">
						<option value="">Lọc theo trạng thái</option>
						<option value="Đã duyệt">Đã duyệt</option>
						<option value="Chờ duyệt">Chờ duyệt</option>
						<option value="Ẩn tin">Tin ẩn</option>
					</select>
				</div>
			</form>
			<div class="main-contents">
				<table>
					<tr>
						<th>Mã tin</th>
						<th>Tiêu đề</th>
						<th>Giá</th>
						<th>Ngày bắt đầu</th>
						<th>Ngày hết hạn</th>
						<th>Trạng thái</th>
						<th>Actions</th>
					</tr>
					<tr th:each="listing : ${listtingsss}">
						<td th:text="${listing.itemId}"></td>
						<td th:text="${listing.title}"></td>
						<td th:text="${listing.price}"></td>
						<td th:text="${listing.createdAt}"></td>
						<td th:text="${listing.expiryDate}"></td>
						<td th:text="${listing.status}"></td>
						<td>
							<div th:if="${listing.status} == 'Ẩn tin'">
								<div class="btn">
									<a th:href="@{/quanlytin/danglai/{id}(id=${listing.itemId})}"
										th:onclick="'return confirm(\'Bạn có chắc chắn muốn đăng lại tin?\')'"><button>Đăng
											lại</button></a>
								</div>
							</div>
							<div th:if="${listing.status} != 'Ẩn tin'">
								<div class="btn">
									<a th:href="@{quanlytin/update/{id}(id=${listing.itemId})}"><button>Sửa
											tin</button></a>
								</div>
								<div class="btn">
									<a><button type="button" class="btn-primary"
											onclick="openModal()">Gia hạn tin</button></a>
								</div>
								<div class="btn">
									<a th:href="@{/quanlytin/hide/{id}(id=${listing.itemId})}"
										th:onclick="'return confirm(\'Bạn có chắc chắn muốn ẩn tin?\')'"><button>Ẩn
											tin</button></a>
								</div>
							</div>

						</td>
						<div id="exampleModal" class="custom-modal">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Chọn gói thời gian muốn gia hạn
											thêm</h5>
										<button type="button" class="btn-close" onclick="closeModal()">×</button>
									</div>
									<div class="modal-body">
										<form method="get"
											th:action="@{/quanlytin/giahan/{id}(id=${listing.itemId})}">
											<div class="mb-3">
												<label for="goitime" class="form-label">Chọn thời
													gian</label> <select class="form-select" name="goitime"
													id="goitime" onchange="loadTime()" required>
													<option>Chọn gói thời gian</option>
													<option value="ngay">Đăng theo ngày</option>
													<option value="tuan">Đăng theo tuần</option>
													<option value="thang">Đăng theo tháng</option>
												</select>
											</div>
											<div class="mb-3">
												<label for="songay" class="form-label">Chọn thời
													gian</label> <select class="form-select" name="songay" id="songay"
													required></select>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn-secondary"
													onclick="closeModal()">Close</button>
												<button type="submit" class="btn-primary"
													onclick="return confirm('Bạn có chắc chắn muốn gia hạn tin?')">Hoàn
													thành</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</tr>
				</table>
			</div>

			<div class="pagination">
				<a th:if="${listtingsss.hasPrevious()}"
					th:href="@{/quanlytin(page=${listtingsss.number - 1},valuesearch=${valuesearch}, valueloaitin=${valueloaitin}, valuetrangthai=${valuetrangthai})}">«
					Previous</a> <span>Page <span
					th:text="${listtingsss.number + 1}">1</span> of <span
					th:text="${listtingsss.totalPages}">1</span>
				</span> <a th:if="${listtingsss.hasNext()}"
					th:href="@{/quanlytin(page=${listtingsss.number + 1},valuesearch=${valuesearch}, valueloaitin=${valueloaitin}, valuetrangthai=${valuetrangthai})}">Next
					»</a>
			</div>
		</div>
	</div>
</body>

</html>